.general{
	
	margin-left: 100px;
	width: 1050px;
	background-color: white;
	
	
}
* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.cabecera{
	width: 1050px;
}
.titulo{
	width: 650px;
	height: 150px;
	float: left;
}

.sesiones{
	height: 100px;
	width: 400px;
	float: left;
}
.redes{
	height: 50px;
	width:400px;
	float: left;
	margin:0px 0px 0px 0px;
}
.menu{
	width:1050px;
	background-color: #222B5E;
	float:left;
}
.scroll{
	width:1050px;
}
.footer{
	width:1050px;
}
.cuerpo{
	width:1050px;
}
.cuerpo2{
	width:1050px;
	
}
body {
	background-image: URL('http://us.123rf.com/450wm/tupungato/tupungato1207/tupungato120700029/14341278-de-fondo-sin-fisuras-con-el-icono-de-la-escuela-objetos-y-s-mbolos-educaci-n-patr-n-de-dibujo.jpg?ver=6');
    background-repeat: repeat;   
}

.tituloSesion{
	padding:50px 0px 0px 0px;
	text-align:center; 
	color:#6c7aca;
	border: 5px dashed #f4f4ff;

	height:100px;
	width:400px;
	background-color: #222B5E;
	margin:110px 0px 100px 100px;
	float: left;
	
}
.bloqueDe3{
	
	text-align:center; 
	color: #222B5E;
	border: 10px  outset #222B5E;
	
	height:100px;
	width:310px;
	background-color: white;
	margin:10px 5px 0px 100px;
	float: left;
	
}
.bloqueDe2{
	padding:80px 20px 0px 20px;
	text-align:justify; 
	color: #222B5E;
	border: 10px  outset #222B5E;
	height:280px;
	width:410px;
	background-color: white;
	margin:10px 10px 10px 10px;
	float: left;
	
}






#bien {
	margin-left: 300px;
}




p {
	
	color: #0D0F35;
	margin: 20px;
}

#header { 
	margin-LEFT: 200PX;
	width: 1050px;
	
}

ul, ol {
	list-style: none;
}

.nav>li {
	float: left;
}

.nav li a {
	background-color: #222B5E;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}

.nav li a:hover {
	background-color: #434343;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 100px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -140px;
	top: 0px;
}

.main {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.slides {
	width: 100%;
}

.slides img {
	width: 100%;
}

.slidesjs-pagination {
	background: #424242;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li {
	float: left;
}

.slidesjs-pagination li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

.slidesjs-pagination li a:hover {
	background: #000;
}

.slides .active {
	background: #000;
}

.slidesjs-navigation {
	background: #000;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 13.5px 20px;
	float: right;
}

#hola {
	width: 30px;
	height: 30px;
	margin-left: 10px; 
	display: inline;
}
.scrollImag{
	height: 200px;
	width: 400px;
}
#sigue {
	
	margin: 10px 10px 10px 100px;
	width: 100px;
	height: 20px;
}
#hola1 {
	width: 25px;
	height: 25px;
	margin-left: 10px; 
	display: inline;
}

#logo {
	margin: 30px 20px 10px 140px;

}
.imagenSesion {
	width: 70px;
	height: 60px;
	display: inline;
	margin:10px 3px 20px 5px ;
	
}